body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

header ul,
main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

li {
  list-style: none;
}

main {
  justify-content: space-between;
}

section p {
  width: 80%;
}

section,
aside {
  width: 30%;
}

footer {
  align-self: baseline;
}
