body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header ul,
main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

li {
  list-style: none;
}

main {
  justify-content: space-between;
}

section p {
  width: 80%;
}

section,
aside {
  width: 30%;
}

footer {
  margin-top: auto;
}

/* Phone Media Query */
@media (min-width: 600px) {
  footer {
    background-color: black;
  }
}

/* Phone Landscape Query */

/* Tablet Media Query */

/* Tablet Landscape Query */
